<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %} -Docify</title>
    <link rel="stylesheet" href="{{url_for('static' , filename='css/style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>

    <header class="navbar">
        <div class="logo">Docify</div>
        <!-- Navbar -->
  <nav>
    <ul>

     {% if admin_page %}
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
      {% elif current_user.is_authenticated %}
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
      {% else %}
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="{{ url_for('signup') }}">Signup</a></li>
        <li><a href="{{ url_for('signin') }}">Signin</a></li>
      {% endif %}
    </ul>
  </nav>

    </header>
    {% block body %}

    {% endblock body %}
</body>
</html>