{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block body %}
    <main class="hero-section">
        <h1>Be your own doctor...</h1>
        <br>
        <p >
            Your Health Matters — We’re Here When You Need Us Most. Life is unpredictable. Sometimes, when you or your loved ones urgently need a doctor’s help, immediate assistance may not be available.That’s why we created the Docify Smart Disease Prediction System — your trusted companion for health support anytime, anywhere. Our intelligent web platform allows you to get instant, personalized guidance based on your symptoms. Using advanced machine learning and data mining techniques, we help predict potential illnesses accurately and guide you on the next steps for your care.
After receiving your health prediction, you can also consult a qualified doctor directly through our platform for professional advice and further treatment. With Docify, you don’t have to wait helplessly. You are empowered to act quickly, confidently, and wisely for your health. Because when it comes to your well-being, every second counts, and we truly care about you.
        </p>
        <button id="getStartedBtn" class="btn">Get started</button>
    </main>

    <script>
        // Define the button variable by selecting the element by its id
        let btn = document.getElementById("getStartedBtn");

        // Add an onclick event to redirect the user to the signup page
        btn.onclick = function () {
            window.location.href = "{{url_for('login')}}";
        };
    </script>
{% endblock body %}